@model IEnumerable<Bangazon.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Bangazon</h1>
    <p>I'm just here to get bought by Jeff Bezos.</p>
</div>

