@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>I am going to buy and sell your personal information like Poke-mon cards at a meth fueled comic convention.</p>
<p>If you don't willingly hand over the information I'll just buy it from Mark Zuckerberg for a bit of loose change and some pocket lint.</p>