@model IEnumerable<Bangazon.Models.ProductType>

@{
    ViewData["Title"] = "ProductType";
}

<h1>ProductType</h1>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductTypeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Label)
                </td>
            </tr>
        }
    </tbody>
</table>